
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CityNotMumbai</title>
</head>
<body align="center" style="background-color:burlywood">
    <div>
        <h2>Sorry!</h2>
        <br>
        <h3>Only employees from Mumbai are allowed</h3>
    </div>

    <div style="font-size=20px">
        @Html.ActionLink("Add Employee", "AddEmployee")
    </div>
</body>
</html>
