
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body align="center">
    <div>
        <h1>This is master employee controller</h1><br><br>
        <h3>Active Links are - </h3><br>


        <div style="font-size=20px">
            <h2>
                @Html.ActionLink("Add Employee", "AddEmployee")
            </h2>
        </div>


        <div style="font-size=20px">
            <h2>
                @Html.ActionLink("Display Employees", "DisplayAll")
            </h2>
        </div>



    </div>
</body>
</html>
