
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body align="center">
    <div> 
        <h1>MVC Assignments-2</h1>
    <br><br><h4> Active URLs -</h4><br>
        

    
    </div>
</body>
</html>
