
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayAll</title>
</head>
<body align="center">
    <div> 
        <table align="center" border="3px" width="50%">
            <tr><td colspan="4"><h2>Employees</h2></td></tr>
            <tr>
                <td colspan="1" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:22px">ID</td>
                <td colspan="1" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:22px">Name</td>
                <td colspan="1" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:22px">Age</td>
                <td colspan="1" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:22px">City</td>
            </tr>
            <tr>
            @foreach (var i in ViewBag.Employees)
            {
                <tr style="font-size:18px">
                <td>@i.Id</td>
                <td>@i.Name</td>
                    <td>@i.Age</td>
                    <td>@i.City</td>
               </tr>

            }
                </tr>
        </table>
    </div>
</body>
</html>
