
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Employee Services Dashboard</h2>
        <h4>Search  for - /Employee/DisplayAll or /Employee/Display2 </h4>
    </div>
</body>
</html>
